body {
 margin: 0;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.App {
 text-align: center;
 background-color: steelblue;
}

.App-logo {
 height: 83px;
 pointer-events: none;
 user-select: none;
}

.App-logo-loading {
 height: 40vmin;
 pointer-events: none;
 user-select: none;
}

.Fab {
 margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
 .App-logo {
  animation: App-logo-spin infinite 10s linear;
 }
 .App-logo-loading {
  animation: App-logo-spin infinite 5s linear;
 }
}

@keyframes App-logo-spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}
